/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #ADD8E6; /* light blue */
    transition: background-color 0.5s ease;
}

.start-page {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.start-page h1 {
    color: #333;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

.game-page {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-page h2 {
    color: #333;
    margin-bottom: 10px;
}

#back-btn {
    background-color: #ff9800;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back-btn:hover {
    background-color: #ff9900;
}

.loss {
    background-color: #FFC5C5; /* pastel pink */
}

.win {
    background-color: #C6F7D0; /* pastel green */
}

.tie {
    background-color: #F7DC6F; /* pastel yellow */
}